config/*.yml
results/*.*
results

.DS_Store

*.swp
*.log
*.html
*.failures
*.idea
*.env
cucumber_failures.txt

.bundle
.byebug_history
vendor
js-error.txt

images/*
stylesheets/*
screenshots/*
embedded_image.png
